body {
  background-image: url(images/Fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #492650;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

main{
  max-width: 25vw;
  border-radius: 20px;
  text-align: center;
  background: white;
  box-shadow: 0px 0px 30px 2px #1E0E40;
  margin: 5%;
}

header{
  background: linear-gradient(to top right, #492650 20%, #BB456B 70%, #D46175);
  padding: 1% 2% 4% 2%;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  color: white;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 28px;
}

.explanation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 2% 2% 2%;
  border-top: 3px solid rgba(242,110,80, .5);
  border-bottom: 3px solid rgba(242,110,80, .5);
}

.explanation p{
  font-size: 18px;
  max-width: 19vw;
  padding: 1%;
}

.homeScreen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8%;
}

.homeScreen input{
  border-radius: 10px;
  border: 2.5px outset #D46175;
  font-size: 20px;
  margin: 2% 2% 5% 2%;
  padding: 3%;
}

button{
  background-image: linear-gradient(to bottom left, #492650, #D46175);
  font-size: 28px;
  color: white;
  padding: 2% 8%;
  border-radius: 25px;
  border-style: none;
  margin-top: 5%;
  max-width: 10vw;
}

button:hover{
  background-image: linear-gradient(to bottom left, #D46175, #492650);
}

button:active{
  background-image: radial-gradient(#492650, #D46175);
  box-shadow: 0px 0px 10px 2px #1E0E40;
}

.results{
  border: double 4px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #492650, #D46175);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 2% 8% 1% 8%;

}

.results p{
  font-size: 20px;
}

span{
  font-weight: bolder;
}

#validation{
  font-size: 30px;
  font-weight: bold;
}

#btn2{
  font-size: 23px;
  border-radius: 35px;
  margin-bottom: 8%;
}
