body {
  background-image: url(images/Fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #492650;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

main{
  max-width: 25vw;
  border-radius: 20px;
  text-align: center;
  background: white;
  box-shadow: 0px 0px 30px 2px #1E0E40;
}

header{
  background: linear-gradient(to top right, #492650 20%, #BB456B 70%, #D46175);
  padding: 1% 2% 4% 2%;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  color: white;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 28px;
}

.explanation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 2% 2% 2%;
  border-top: 3px solid rgba(242,110,80, .5);
  border-bottom: 3px solid rgba(242,110,80, .5);
}

.explanation p{
  font-size: 18px;
  max-width: 19vw;
  padding: 1%;
}

.homeScreen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8%;
}

.homeScreen input{
  border-radius: 10px;
  border: 2.5px outset #D46175;
  font-size: 20px;
  margin: 2% 2% 5% 2%;
  padding: 3%;
}
